* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100vh; */
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  background-color: #f2f2f2;
}

/* body {
  height: 100vh;
} */

.cards {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* width: 100%;
  position: relative; */
  background-color: #ccd9ff;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px #668cff;
  background-color: #f2f2f2;
}

.card__img {
  width: 240px;
  border-radius: 5px;
}

.card_info {
  margin: 20px 0 20px 0;
}
